/* Connection Font */
/* Подключение шрифта */
@font-face {
   font-family: Ubuntu;
   src: url("./../fonts/ubuntu-light-webfont.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   font-variant: normal;
}

@font-face {
   font-family: Ubuntu;
   src: url("./../fonts/ubuntu-regular-webfont.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   font-variant: normal;
}

@font-face {
   font-family: Ubuntu;
   src: url("./../fonts/ubuntu-bold-webfont.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-stretch: normal;
   font-variant: normal;
}

@font-face {
   font-family: KarloCham;
   src: url("./../fonts/karlocham.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   font-variant: normal;
}

body {
   font-family: KarloCham;
}

.tippy-box[data-theme~="quiz"] {
   background-color: #ffffff;
   color: #ff0000;
   font-size: 20px;
}
