@font-face {
   font-family: "Etna";
   src: url("assets/fonts/etna.woff2") format("woff2");
}

// hello

body {
   .root {
      background-color: red;
      display: grid;
   }
   div {
      font-family: "Etna";
   }
}

