<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="./../../libs/normalize.css/normalize.css">
   <link rel="stylesheet" href="./../../css/null.css">
   <link rel="stylesheet" href="Quiz.css">

   <title>QuizPage</title>
</head>

<body>

   <main class="quiz__page" id="quizPage">
      <div class="quiz__container" id="quizContainer">
         <header class="quiz__header header-quiz" id="quizHeader">
            <div class="header-quiz__arrowback">
               <img class="arrowback-back" src="images/arrow-back.svg" alt="arrowback">
            </div>
            <div class="header-quiz__progress" id="quizProgress">
               <div class="progress-line"></div>
            </div>
            <div class="quiz__answer answer-quiz header-button">
               <button class="answer-quiz__button"><span>answer</span> <span><img src="images/next.svg"
                        alt="next"></span></button>
            </div>
         </header>
         <div class="quiz__list list-quiz" id="quizList">
            <div class="list-quiz__title" id="quizTitle">question?</div>
            <div class="list-quiz__answers list-option" id="quizListOption">
               <div class="list-option__item">
                  <input class="option-radio" type="radio" id="radio-1" name="quiz-options">
                  <label for="radio-1">
                     <div class="button-item">option</div>
                     <div class="button-shadow"></div>
                  </label>
               </div>
               <div class="list-option__item">
                  <input class="option-radio" type="radio" id="radio-2" name="quiz-options">
                  <label for="radio-2">
                     <div class="button-item _checked"><span>option</span> <span><img src="images/check.svg" alt="check"></span></div>
                     <div class="button-shadow"></div>
                  </label>
               </div>
               <div class="list-option__item">
                  <input class="option-radio" type="radio" id="radio-3" name="quiz-options">
                  <label for="radio-3">
                     <div class="button-item">option</div>
                     <div class="button-shadow"></div>
                  </label>
               </div>
               <div class="list-option__item">
                  <input class="option-radio" type="radio" id="radio-4" name="quiz-options">
                  <label for="radio-4">
                     <div class="button-item">option</div>
                     <div class="button-shadow"></div>
                  </label>
               </div>
            </div>
            <div class="quiz__answer answer-quiz answer-button" id="quizAnswer">
               <button class="answer-quiz__button"><span>answer</span><span><img src="images/next.svg" alt="next"></span></button>
            </div>
         </div>
      </div>
   </main>

</body>

</html>