/* Fonts Import */
/* Импорт шрифтов */
@font-face {
   font-family: KarloCham;
   src: url("./../../fonts/karlocham.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   font-variant: normal;
}
@font-face {
   font-family: Ubuntu;
   src: url("./../../fonts/ubuntu-light-webfont.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
   font-variant: normal;
}
@font-face {
   font-family: Ubuntu;
   src: url("./../../fonts/ubuntu-regular-webfont.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
   font-variant: normal;
}
@font-face {
   font-family: Ubuntu;
   src: url("./../../fonts/ubuntu-bold-webfont.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
   font-stretch: normal;
   font-variant: normal;
}

body {
   font-family: KarloCham;
}

.quiz__page {
   width: 100%;
   height: 100vh;
   min-height: 780px;

   position: relative;
   overflow: hidden;

   display: flex;
   justify-content: center;
   align-items: center;

   background: linear-gradient(180deg, #5864cf 0%, #6674f4 100%);
}
.quiz__page::before {
   content: "";
   background-image: url("./images/logo.svg");
   background-position: right;
   background-repeat: no-repeat;
   background-size: contain;

   position: absolute;
   top: -2%;
   right: -15%;
   z-index: 1;

   width: 100%;
   height: 100%;
}
@media (max-width: 1280px) {
   .quiz__page {
      min-height: 689px;
   }
}

.quiz__container {
   width: 100%;
   max-width: 1400px;

   margin: -20px 0px 0px 0px;

   padding: 20px 20px;
}
@media (max-width: 1440px) {
   .quiz__container::before {
      top: -3%;
      right: -20%;
   }
}

.quiz__header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   position: relative;
}
.header-quiz__arrowback {
   width: 70px;
   height: 70px;

   position: relative;
   z-index: 2;

   transition: all 0.2s ease-in-out 0s;
}
@media (any-hover: hover) {
   .header-quiz__arrowback:hover {
      transform: translateX(-5px);
   
      cursor: pointer;
   }
}
.header-quiz__progress {
   width: 400px;
   height: 30px;
   border: 5px solid #faff02;
   border-radius: 50px;

   position: relative;
}
.progress-number {
   position: absolute;
   top: -50px;
   left: 0;

   font-weight: 700;
   font-size: 40px;
   color: #faff02;
}
@media (max-width: 1280px) {
   .progress-number {
      top: -45px;
      font-size: 35px;
   }
}
.progress-line {
   width: 0%;
   height: 100%;
   background: linear-gradient(270deg, #faff02 0%, #ffffff 80.73%);
   border-radius: 3px;

   transition: all 0.2s ease-in-out 0s;
}
.arrowback-back {
   width: 100%;
}

.quiz__list {
   width: 100%;
   max-width: 650px;
   margin: 70px 0px 0px 240px;

   position: relative;
   z-index: 10;
}
@media (max-width: 1280px) {
   .quiz__list {
      margin: 60px 0px 0px 170px;
      max-width: 530px;
   }
}
.list-quiz__title {
   margin: 0px 0px 90px 0px;

   font-size: 60px;
   color: #ffffff;
}
@media (max-width: 1280px) {
   .list-quiz__title {
      margin: 0px 0px 70px 0px;
      font-size: 50px;
   }
}
.list-quiz__option {
   display: grid;
   grid-template-columns: repeat(2, minmax(300px, auto));
   grid-template-rows: minmax(100px, auto) minmax(100px, auto);
   gap: 50px;

   margin: 0px 0px 100px 0px;
}
@media (max-width: 1280px) {
   .list-quiz__option {
      gap: 30px;
      margin: 0px;
      grid-template-columns: repeat(2, minmax(250px, auto));
      grid-template-rows: repeat(2, minmax(100px, auto));
   }
}
.list-option__item {
   display: grid;

   position: relative;
}
.list-option__button {
   background-color: #ffffff;
   border-radius: 20px;

   display: flex;
   justify-content: center;
   align-items: center;

   text-align: center;

   font-family: Ubuntu;
   font-weight: 700;
   font-size: 27px;
   color: #5864cf;

   padding: 10px 20px;

   position: relative;
   z-index: 5;
}
@media (any-hover: hover) {
   .list-option__button:hover {
      transform: translateY(2px);
   }
}
.list-option__button:active {
   transform: translateY(6px);
}
@media (max-width: 1280px) {
   .list-option__button {
      font-size: 25px;
   }
}
.list-option__shadow {
   width: 100%;
   height: 100%;

   border-radius: 20px;

   position: absolute;
   top: 9px;
   left: 0;
   z-index: 1;

   background-color: black;

   opacity: 0.4;
   filter: blur(3px);
}
.list-option__radio {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 1;

   transform: translate(-50%, -50%);
}
.list-option__radio:checked + .list-option__button {
   transition: all 0.1s ease-in-out 0s;
   background: linear-gradient(90deg, #ffffff 20%, #24ff00 100%);
}

.list-quiz__answer {
   text-align: center;
}
.answer-quiz__button {
   background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.5) 100%);
   border-radius: 30px;

   width: 350px;
   height: 90px;

   transition: all 0.2s ease-in-out 0s;

   position: relative;
   z-index: 3;

   display: inline-flex;
   justify-content:center;
   align-items: center;
}
@media (max-width: 1280px) {
   .answer-quiz__button {
      width: 250px;
      height: 80px;
   }
}
.answer-button__title {
   display: inline-block;

   margin: 0px 5px;

   font-size: 40px;
   color: #5864cf;
}
.answer-button__icon {
   display: inline-block;

   width: 50px;
   height: 50px;

   margin: 0px 5px;
}
.answer-button__icon img {
   width: 100%;
   height: 100%;

   transition: all 0.2s ease-in-out 0s;
}
@media (max-width: 1280px) {
   .answer-button__title {
      font-size: 30px;
      color: #5864cf;
   }
   .answer-button__icon {
      width: 40px;
      height: 40px;
   }
}
._ready {
   background-color: #ffffff;
}
@media (any-hover: hover) {
   ._ready:hover .answer-button__icon > img {
      margin: 0px 10px;
   }
}
._next .answer-button__icon > img {
   transform: translateX(30px);
   margin: 0px 10px;
}
._adaptive {
   position: absolute;
   top: 100px;
   right: 0;
}

/* ScrollBar Customization */
/* Настройка прокрутки */

::-webkit-scrollbar {
   width: 10px;
}
::-webkit-scrollbar-track {
   background: linear-gradient(180deg, #5864cf 0%, #6674f4 100%);
}
::-webkit-scrollbar-thumb {
   background-color: #ffffff;
   border-radius: 10px;
}
